@use '../base/variables' as *;

.bose {
  padding-top: 52px;
  padding-bottom: 52px;
  @media screen and (min-width: 1300px) {
    padding-top: 170px;
    padding-bottom: 170px;
  }
  @media screen and (min-width: 708px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #e7e7e7;

    @media screen and (min-width: 708px) {
      font-size: 54px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    color: #e7e7e7;
    margin-top: 20px;
    @media screen and (min-width: 708px) {
      font-size: 28px;
      margin-top: 16px;
    }
  }

  &__subtitle {
    @media screen and (min-width: 708px) {
      font-size: 20px;
      line-height: 145%;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 32px;
  }

  &__img{
   width: 280px;
   height: 253px;
   margin-top: 32px;
   @media screen and (min-width: 708px) {
    width: 354px;
    height: 297px;
   }
   @media screen and (min-width: 1300px) {
    width: 700px;
    height: 586px;
   }
  }

  &__item{
    display: flex;
    flex-direction: row-reverse;
  }
}
