@use '../base/variables' as *;

.bose {
  padding-top: 52px;
  padding-bottom: 52px;
  @media screen and (min-width: 1300px) {
    padding-top: 170px;
    padding-bottom: 170px;
  }
  @media screen and (min-width: 708px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  & > .container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @media screen and (min-width: 708px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (min-width: 1300px) {
    gap: 239px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #e7e7e7;

    @media screen and (min-width: 708px) {
      font-size: 54px;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(250, 250, 250, 0.8);
    margin-top: 20px;
    @media screen and (min-width: 1300px) {
      width: 380px;
      
    }
    @media screen and (min-width: 708px) {
      font-size: 20px;
      margin-top: 16px;
      margin-top: 27px;
      width: 294px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    color: rgba(231, 231, 231, 1);
    margin-top: 32px;
    margin-bottom: 16px;

    @media screen and (min-width: 708px) {
      font-size: 28px;
      line-height: 125%;
      margin-top: 43px;
    }
  }

  &__img{
   width: 100%;
   height: 100%;
   margin-top: 32px;
   @media screen and (min-width: 708px) {
    width: 100%;
    height: 400px;
    margin-top: 0;
    margin-left: 60px;
   }
   @media screen and (min-width: 1300px) {
    height: 100%;
    width: 100%;
    margin-left: 0;
   }
  }
}
