@use '../base/variables' as *;

.bose {
  @media screen and (min-width: 1300px) {
  }
  @media screen and (min-width: 708px) {
  }
  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #e7e7e7;

    @media screen and (max-width: 300px) {
      font-size: 24px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    line-height: 125%;
    color: #e7e7e7;
    @media screen and (max-width: 300px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    @media screen and (max-width: 300px) {
      font-size: 14px;
      line-height: 125%;
    }
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: rgba(255, 255, 255, 0.8);
  }
}
