@use '../base/variables' as *;

.brand {
  padding: 52px 0;

  @media screen and (min-width: 708px) {
    padding: 100px 0;
  }

  @media screen and (min-width: 1300px) {
    padding: 170px 0;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 1300px) {
      gap: 50px;
    }
  }

  &__box {
    @media screen and (min-width: 708px) {
      display: flex;
      gap: 30px;
    }

    @media screen and (min-width: 1300px) {
      gap: 0;
      justify-content: space-between;
    }
  }

  &__box > div {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 708px) {
      gap: 0;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 708px) {
      flex-direction: row;
      gap: 60px;
      align-items: end;
    }

    @media screen and (min-width:1300px) {
      gap: 260px;
    }
  }

  &__img2 {
    display: block;
    width: 280px;
    height: 251px;

    @media screen and (min-width: 708px) {
      display: none;
    }
  }

  &__img {
    display: none;

    @media screen and (min-width: 708px) {
      display: block;
      width: 354px;
      height: 549px;
    }

    @media screen and (min-width: 1300px) {
      width: 700px;
      height: 695px;
    }
  }

  &__imgs {
    width: 280px;
    height: 343px;

    @media screen and (min-width: 708px) {
      display: none;
    }
  }

  &__imgs2 {
    display: none;

    @media screen and (min-width: 708px) {
      display: block;
      width: 294px;
      height: 400px;
    }

    @media screen and (min-width: 1300px) {
      width: 290px;
      height: 380px;
    }
  }

  &__wraper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 708px) {
      gap: 133px;
    }
  }

  &__icon {
    width: 34px;
    height: 25px;
    fill: $accent-color;
  }

  &__title {
    width: 124px;
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.08px;
    text-transform: uppercase;

    @media screen and (min-width: 708px) {
      font-size: 30px;
    }

    @media screen and (min-width: 1300px) {
      font-size: 54px;
    }
  }

  &__subtitle {
    color: $link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.45;
    text-wrap: balance;

    @media screen and (min-width: 708px) {
      width: 294px;
      font-size: 16px;
      margin-top: 32px;
      margin-bottom: 85px;
    }

    @media screen and (min-width: 1300px) {
      font-size: 20px;
      width: 400px;
      margin-top: 50px;
      margin-bottom: 74px;
    }
  }

  &__sub {
    margin-bottom: 0;
    margin-top: 0;

    @media screen and (min-width:1300px) {
      width: 510px;
    }
  }

  &__head {
    color: $main-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;

    @media screen and (min-width: 708px) {
      margin-top: 52px;
      margin-bottom: 32px;
    }

    @media screen and (min-width: 1300px) {
      width: 490px;
      font-size: 28px;
      margin-bottom: 32px;
    }
  }

  &__principal {
    color: $subtext-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;

    @media screen and (min-width: 708px) {
      font-size: 16px;
    }
  }

  &__container{
    @media screen and (min-width:708px) {
          width: 294px;
    }
        @media screen and (min-width:1300px) {
          width: 382px;
    }
  }
}