@use '../base/variables' as *;

.brand {
  padding: 52px 0;
  @media screen and (min-width: 678px) {
    padding: 100px 0;
  }

  @media screen and (min-width: 1320px) {
    padding: 170px 0;
  }

  & .container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 678px) {
      position: relative;
      gap: 100px;
    }

    @media screen and (min-width: 1320px) {
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 678px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__wraper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    width: 124px;

    @media screen and (min-width: 678px) {
      font-size: 30px;
      letter-spacing: 0.6px;
      width: 155px;
      margin-bottom: 0px;
    }

    @media screen and (min-width: 1320px) {
      font-size: 54px;
      letter-spacing: 1.08px;
      width: 279px;
    }
  }

  &__subtitle {
    color: $link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    width: 280px;

    @media screen and (min-width: 678px) {
      font-size: 16px;
      width: 294px;
      line-height: 1.45;
      margin-bottom: 85px;
    }

    @media screen and (min-width: 1320px) {
      font-size: 20px;
      width: 400px;
      margin-bottom: 74px;
    }
  }

  &__img {
    width: 280px;
    height: 251px;

    @media screen and (min-width: 678px) {
      width: 354px;
      height: 524px;
    }

    @media screen and (min-width: 1320px) {
      width: 700px;
      height: 628px;
    }
  }

  &__text {
    color:$link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    width: 280px;

    @media screen and (min-width: 678px) {
      font-size: 16px;
      line-height: 1.45;
      width: 294px;
      position: absolute;
      left: 15px;
      top: 45%;
    }

    @media screen and (min-width: 1320px) {
      font-size: 20px;
      width: 400px;
    }
  }

  &__boxes {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 678px) {
      flex-wrap: wrap;
    }
  }

  &__sub {
    color:$link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    width: 280px;
    margin-top: 32px;

    @media screen and (min-width: 678px) {
      font-size: 16px;
      width: 294px;
      line-height: 1.45;
      position: absolute;
      top: 60%;
      right: 40px;
      margin-top: 0;
    }

    @media screen and (min-width: 1320px) {
      font-size: 20px;
      width: 510px;
      right: 210px;
    }
  }

  &__div {
    @media screen and (min-width: 678px) {
      display: flex;
      justify-content: space-between;
      margin-top: 133px;
    }

    @media screen and (min-width:1320px) {
      margin-top: 0;
    }
  }

  &__images {
    width: 280px;
    height: 343px;

    @media screen and (min-width: 678px) {
      width: 294px;
      height: 355px;
      order: -1;
    }

    @media screen and (min-width: 1320px) {
      width: 290px;
      height: 355px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 16px;

  @media screen and (min-width: 678px) {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    @media screen and (min-width: 1320px) {
      position: absolute;
      right: 340px;
      bottom: 0;
    }

    }

      &__icon{
        fill: $accent-color;
      width: 34px;
      height: 25px;
      margin-bottom: 24px;
      margin-top: 50px;

      @media screen and (min-width: 678px) {
        margin-bottom: 52px;
        margin-top: 0;
      }
    }


  &__head {
    color: $main-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    width: 280px;

    @media screen and (min-width: 678px) {
      font-size: 28px;
      width: 320px;
    }

    @media screen and (min-width: 1320px) {
      width: 382px;
    }
  }

  &__principal {
    color: $subtext-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;

    @media screen and (min-width: 678px) {
      font-size: 16px;
      line-height: 0.7; 
    }
  }
}