@use '../base/variables' as *;

.capable {
  padding-top: 52px;
  padding-bottom: 52px;
  @media screen and (min-width: 708px) {
    padding-top: 249px;
    padding-bottom: 170px;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 32px;
    flex-wrap: wrap;

    @media screen and (min-width: 708px) {
      font-size: 30px;
      width: 412px;
    }
    @media screen and (min-width: 1300px) {
      font-size: 54px;
      width: 600px;
    }
  }
  &__text {
    color: $link-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    @media screen and (min-width: 708px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1300px) {
      font-size: 20px;
    }
  }
&__list{
  gap: 16px;
  @media screen and (min-width:1300px) {
    gap: 20px;
  }
}

}
