@use '../base/variables' as *;

.capable {
  padding-bottom: 52px;
  @media screen and (min-width: 708px) {
    padding-bottom: 100px;
  }
    @media screen and (min-width: 708px) {
    padding-bottom: 170px;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 32px;
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    @media screen and (min-width: 678px) {
      font-size: 30px;
      width: 412px;
      display: block;
    }
    @media screen and (min-width: 1320px) {
      font-size: 54px;
      width: 600px;
    }
  }
  &__text {
    color:$link-color;
    font-size: 14px;
    line-height: 1.25;
    width: 236px;
    @media screen and (min-width: 708px) {
      font-size: 16px;
      width: 100%;
    }
    @media screen and (min-width: 1320px) {
      font-size: 20px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width:1320px) {
      flex-direction: row;
      gap: 220px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: 1300px) {
      gap: 20px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 24px;
    &::before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      background-color: $accent-color;
      border-radius: 50%;
    }
  }
  &__item:last-child {
    align-items: start;
  }
}
