@use '../base/variables' as *;
.capable {
    padding-top: 52px;
    padding-bottom: 52px;
  @media screen and (min-width: 708px) {
    padding-top: 249px;
    padding-bottom: 170px;
  }

  &__title{
color: $main-color;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%;
letter-spacing: 0.48px;
text-transform: uppercase;

@media screen and (min-width:708px) {
font-size: 30px;
}
@media screen and (min-width:1300px) {
font-size: 54px;
}

&__text{
    color: $link-color;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 125%;

@media screen and (min-width:708px) {
font-size: 16px;
}
@media screen and (min-width:1300px) {
font-size: 20px;
}

}

  }
}
