@use '../base/variables' as *;

.faq {
  padding: 0 0 52px 0;

  @media screen and (min-width: 708px) {
    padding: 0 0 100px 0;
  }

  @media screen and (min-width: 1300px) {
    padding: 0 0 170px 0;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media screen and (min-width: 1300px) {
      font-size: 30px;
      margin-bottom: 50px;
    }
  }

  &__num {
    color: $main-color;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 400;
    line-height: 0.7;

    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }

  &__text {
    color: $link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;

      @media screen and (min-width: 708px) {
    font-size: 16px;
  }

    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }

  &__btn {
    width: 32px;
    height: 32px;
    background-color: $bg-svg;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-with:1300px) {
        width: 42px;
        height: 42px;
    }
  }

  &__icon {
    width: 9px;
    height: 14px;

    fill: $main-color;

        @media screen and (min-with:1300px) {
        width: 12px;
        height: 20px;
    }
  }

  &__subtitle {
    color: $link-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
  }
}
