@use '../base/variables' as *;

.faq {
  padding: 0 0 52px 0;

  @media screen and (min-width: 708px) {
    padding: 0 0 100px 0;
  }

  @media screen and (min-width: 1300px) {
    padding: 0 0 170px 0;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media screen and (min-width: 1300px) {
      font-size: 30px;
      margin-bottom: 50px;
    }
  }

  &__num {
    color: $main-color;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 400;
    line-height: 0.7;
    text-align: start;

    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }

  &__text {
    color: $link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    margin-left: 16px;
    margin-right: auto;

    @media screen and (min-width: 708px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1300px) {
      font-size: 28px;
      margin-left: 32px;
    }
  }

  &__btn {
    background-color: $bg-svg;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;

    @media screen and (min-width: 1300px) {
      padding: 11px 15px;
    }
  }

  &__icon {
    width: 9px;
    height: 14px;

    fill: $main-color;

    @media screen and (min-width: 1300px) {
      width: 12px;
      height: 20px;
    }
  }

  &__subtitle {
    color: $link-color;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.45;
    margin-top: 16px;
    opacity: 0;
    transform: translateY(-150px);
    transition-property: transform ;
    transition-duration: 0.25s;
    position: absolute;
    z-index: 1;

    @media screen and (min-width:708px) {
      font-size: 17px;
    }

    @media screen and (min-width:1300px) {
      font-size: 20px;
    }
  }

  &__div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;

    @media screen and (min-width: 708px) {
      align-items: center;
    }
  }

  &__item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 0 24px 0;
    border-bottom: 2px solid $bg-svg;

    &:hover {
      .faq__subtitle {
        transform: translateY(0);
        opacity: 1;
                position: static;
      }
    }

    @media screen and (min-width: 1300px) {
      padding: 0 0 26px 0;
    }

    @media screen and (min-width: 708px) {
      align-items: center;
      padding: 0 0 37px 0;

      &:nth-child(2) {
        padding: 0 0 47px 0;
      }
    }
  }

  &__hidden{
        overflow: hidden;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;

    @media screen and (min-width: 1300px) {
      gap: 84px;
    }
  }
}
