@use '../base/variables' as *;

.feedback {
  &__title {
    color: #e7e7e7;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    @media screen and (min-width: 1300px) {
      font-size: 54px;
      letter-spacing: 1.08px;
    }
    @media screen and (min-width: 708px) {
      font-size: 30px;
      letter-spacing: 0.6px;
    }
  }
  &__textar {
    color: rgba(255, 255, 255, 0.8);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    @media screen and (min-width: 1300px) {
      font-size: 28px;
      font-weight: 600;
    }
    @media screen and (min-width: 708px) {
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__input {
    color: rgba(255, 255, 255, 0.3);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 1300px) {
      font-size: 20px;
      line-height: 70%;
    }
  }
  &__texter {
    color: rgba(255, 255, 255, 0.3);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 1300px) {
      font-size: 20px;
      line-height: 70%;
    }
  }
  &__checkbox {
    width: 30px;
    height: 28px;

    @media screen and (min-width: 1300px) {
      height: 27.9px;
    }
  }
  &__text {
    color: rgba(255, 255, 255, 0.8);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 1300px) {
      font-size: 16px;
      line-height: 160%;
    }
  }
  &__link {
    color: rgba(255, 255, 255, 0.8);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;

    @media screen and (min-width: 1300px) {
      font-size: 16px;
      line-height: 160%;
    }
  }
  &__button {
    color: rgba(255, 255, 255, 0.9);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    padding: 20px 120px;

    @media screen and (min-width: 1300px) {
      font-size: 20px;
      letter-spacing: 0.4px;

      padding: 22px 229px;
    }
    @media screen and (min-width: 708px) {
      padding: 20px 126px;
    }
  }
}
