@use '../base/variables' as *;

.feedback {
  padding-bottom: 72px;

  @media screen and (min-width: 1300px) {
    padding-bottom: 170px;
  }

  @media screen and (min-width: 708px) {
    padding-bottom: 100px;
  }

  &__box {
    display: block;
    margin-top: 16px;

    @media screen and (min-width: 708px) {
      display: block;
      margin-top: 100px;
    }

    @media screen and (min-width: 1300px) {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 170px;
      gap: 150px;
    }
  }

  &__item:first-child {
    width: 281px;

    @media screen and (min-width: 708px) {
      width: 445px;
    }

    @media screen and (min-width: 1300px) {
      width: 400px;
    }
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-top: 16px;
    @media screen and (min-width: 1300px) {
      font-size: 54px;
      letter-spacing: 1.08px;
    }
    @media screen and (min-width: 708px) {
      font-size: 30px;
      letter-spacing: 0.6px;
    }
  }
  &__textar {
    color: $textbtn-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 40px;
    margin-top: 32px;
    @media screen and (min-width: 1300px) {
      font-size: 28px;
      font-weight: 600;
    }
    @media screen and (min-width: 708px) {
      font-size: 20px;
      font-weight: 600;
    }
  }
  &__input {
    color: $formtext-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    background-color: transparent;
    border-bottom: 2px solid $formtext-color;
    padding-bottom: 16px;
    margin-bottom: 32px;
    width: 100%;

    @media screen and (min-width: 1300px) {
      font-size: 20px;
      line-height: 70%;
    }
  }
  &__texter {
    color: $formtext-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    background-color: transparent;
    border-bottom: 2px solid $formtext-color;
    padding-bottom: 60px;
    margin-bottom: 40px;
    width: 100%;

    @media screen and (min-width: 1300px) {
      font-size: 20px;
      line-height: 70%;
    }
  }
  &__checkbox {
    width: 30px;
    height: 28px;
    margin-right: 24px;

    @media screen and (min-width: 1300px) {
      height: 27.9px;
    }
  }
  &__label {
    color: $textbtn-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (min-width: 1300px) {
      font-size: 16px;
      line-height: 160%;
    }
  }
  &__link {
    color: $textbtn-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-left: 9px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    @media screen and (min-width: 1300px) {
      font-size: 16px;
      line-height: 160%;
    }
  }
  &__button {
    color: $textbtn-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    padding: 20px 120px;
    background-color: transparent;
    border: 1px solid $accent-color;

    @media screen and (min-width: 1300px) {
      font-size: 20px;
      letter-spacing: 0.4px;

      padding: 22px 229px;
    }
    @media screen and (min-width: 708px) {
      padding: 20px 126px;
    }
  }

  &__img {
    width: 100%;
    height: 235px;
    @media screen and (min-width: 708px) {
      height: 360px;
    }

    @media screen and (min-width: 1300px) {
      height: 524px;
    }
  }
}
