@use '../base/variables' as *;

.footer {
  padding: 0 0 52px 0;

  @media screen and (min-width: 708px) {
    padding: 0 0 50px 0;
  }

  @media screen and (min-width: 1300px) {
    padding: 0 0 74px 0;
  }

  & > .container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 708px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }
  }

  &__link {
    color: $formtext-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;

    @media screen and (min-width: 1300px) {
      font-size: 16px;
    }
  }

  &__contact {
    color: $link-color;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;

    @media screen and (min-width: 708px) {
      justify-content: stretch;
      gap: 139px;
      margin-bottom: 0;
    }

    
    @media screen and (min-width: 1300px) {
        gap: 50px;
    }
  }

  &__lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;

    
    @media screen and (min-width: 1300px) {
        flex-direction: row;
        gap: 50px;
    }
  }

  &__lister {
    align-items: end;
  }
}
