@use "../base/variables" as *;

.footer{

    padding: 0 0 52px 0;

    @media screen and (min-width:708px) {
            padding: 0 0 50px 0;
    }

        @media screen and (min-width:1300px) {
            padding: 0 0 74px 0;
    }

    &__link{
       color: $formtext-color;
font-size: 14px;
font-weight: 400;
line-height: 1.25;

        @media screen and (min-width:1300px) {
            font-size: 16px;
    }
 
    }

    &__contact{
        color: $link-color;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: normal;
    }
}