@use '../base/variables' as *;

.quarantees {
  @media screen and (min-width: 1300px) {
  }
  @media screen and (min-width: 708px) {
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    font-style: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #e7e7e7;
    @media screen and (min-width: 1300px) {
      font-size: 54px;
      line-height: 120%;
      letter-spacing: 1.08px;
    }
    @media screen and (min-width: 708px) {
      font-size: 30px;
      letter-spacing: 0.6px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    font-style: normal;
    color: #e7e7e7;
    margin-top: 69px;
    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    font-style: normal;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    @media screen and (min-width: 1300px) {
      font-size: 20px;
      line-height: 145%;
    }
    @media screen and (min-width: 708px) {
      font-size: 16px;
      line-height: 145%;
    }
  }
  &__sabtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    font-style: normal;
    color: #e7e7e7;
    margin-top: 92px;
    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }
  &__suptext {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    font-style: normal;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    @media screen and (min-width: 1300px) {
      font-size: 20px;
      line-height: 145%;
    }
    @media screen and (min-width: 708px) {
      font-size: 16px;
      line-height: 145%;
    }
  }
}
