@use '../base/variables' as *;

.guarantees {
  @media screen and (min-width: 1300px) {
  }
  @media screen and (min-width: 708px) {
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    font-style: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #e7e7e7;
    margin-bottom: 32px;
    @media screen and (min-width: 1300px) {
      font-size: 54px;
      line-height: 120%;
      letter-spacing: 1.08px;
    }
    @media screen and (min-width: 708px) {
      font-size: 30px;
      letter-spacing: 0.6px;
    }
  }
  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    font-style: normal;
    color: #e7e7e7;
    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    font-style: normal;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    @media screen and (min-width: 1300px) {
      font-size: 20px;
      line-height: 145%;
    }
    @media screen and (min-width: 708px) {
      font-size: 16px;
      line-height: 145%;
    }
  }

  &__item{
  &::before{
    content: "";
    display: block;
    width: 13px;
    height: 13px;
    background-color: $accent-color;
    border-radius: 50%;
    margin-bottom: 16px;
  
  }
}

&__list{
display: flex;
flex-direction: column;
gap: 24px;
}

&__img{
  width: 280px;
  height: 268px;
  margin-top: 32px;
  @media screen and (min-width: 708px)  {
    width: 354px;
    height: 442px;
    margin-top: 0;

  }
  @media screen and (min-width: 1300px)  {
    width: 590px;
    height: 565px;
  }
}
}
