@use "../base/variables" as *;
@use "../base/variables" as *;

.header {
  margin-left: auto;
  padding: 16px 0;
  margin-left: 0;

  & > .container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 708px) {
    padding: 21px 0;
  }
  @media screen and (min-width: 1300px) {
    padding: 26px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-weight: 700;
    line-height: 1.38;
    font-size: 24px;
    letter-spacing: 0.78px;
    margin-right: auto;
    fill: $menu-color;
    & > svg {
      width: 130px;
    }
    @media screen and (min-width: 1300px) {
      margin-left: 60px;
    }
    @media screen and (min-width: 708px) {
      font-size: 26px;
      letter-spacing: 0.78px;
      margin-right: 400px;
    }

    &--accent {
      color: $accent-color;
    }
  }

  &__menu-btn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    & > svg {
      fill: $menu-color;
      width: 40px;
      height: 40px;
    }
    @media screen and (min-width: 1300px) {
      display: none;
    }
    & .header__menu-icon {
      width: 40px;
      height: 40px;
      fill: #000;
    }
  }

  &__nav {
    @media screen and (max-width: 1300px) {
      display: none;
    }

    &-list {
      display: none;
      margin-left: auto;
      margin-top: 15px;
      @media screen and (min-width: 708px) {
        display: flex;
        flex-direction: row;
        gap: 60px;
      }
    }
    &-item {
      margin-bottom: 5px;
      position: relative;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.14;
      letter-spacing: 0.28px;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      color: #FFFFFFCC;

      &--current {
        color: $accent-color;

        &::after {
          content: "";
          display: block;
          opacity: 0;
          border-radius: 2px;
          background-color: $accent-color;
          width: 100%;
          height: 4px;
          position: absolute;
          top: 49px;
          left: 0;
          transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
          transform: scale(0);
        }

        &:hover::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}
