@use "../base/variables" as *;
.product .container {
  display: flex;
  flex-direction: row;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  padding: 0 20px;
  outline: 1px solid red;

  @media screen and (min-width: 300px) {
    width: 300px;
    padding: 0 10px;
  }

  @media screen and (min-width: 708px) {
    width: 708px;
    padding: 0 30px;
  }

  @media screen and (min-width: 1300px) {
    width: 1300px;
  }
}

body {
  font-family: "Poppins";
  background-color: #000000;
}
.container{
  margin-inline: 0;
}
.product-subtitle, .product-duration {
  color: #FFFFFFCC;
  font-weight: 400;
  font-size: 14px;
  width: 321px;
  margin-left: 60px;
}

.product-duration {
  width: 110px;
  margin-bottom: 94px;
}

.order-btn {
  border: none;
  background-color: #DF3D3A;
  color: #FFFFFF;
  padding: 22px 67px;
  margin-left: 243px;
}
.product-title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 74px;
  text-transform: uppercase;
  padding: 22px 67px;
  margin-left: 178px;
  width: 634px;
  height: 148px;
  top: 363px;

}