@use "../base/variables" as *;

.hero{

  &__subtitle, &__duration {
    color: #FFFFFFCC;
    font-weight: 400;
    font-size: 14px;
  }
  & > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 678px) {
      flex-direction: row;
    }
    @media screen and (min-width: 1320px) {
      justify-content: flex-start;
      align-items: start;
    }
  }

  &__subtitle{
    margin-bottom: 16px;
    @media screen and (min-width: 678px) {
      width: 253px;
    }
  }
  &__duration {
    width: 110px;
    margin-bottom: 32px;
    @media screen and (min-width: 678px) {
      margin-bottom: 105px;
    }
  }
  & > .container > picture > img {
    @media screen and (min-width: 678px) {

      margin-left: 0;
    }
    @media screen and (min-width: 1320px) {
      margin-left: 65px;
      width: 700px;
      height: 598px;
    }
  }
  &__order__btn {
    margin-bottom: 32px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease;

    &:is(:hover, :focus){
      background-color: $hover-color;
    }

    @media screen and (min-width: 678px) {
      margin-bottom: 0;
    }
    border: none;
    background-color: #DF3D3A;
    color: #FFFFFFCC;
    padding: 19px 117px;
    font-size: 16px;
    @media screen and (min-width: 1320px) {
      margin-left: 110px;
    }
  }
  &__title {
    color: #FFFFFFCC;
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
    text-transform: uppercase;
    width: 234px;
    height: 68px;
    margin-bottom: 32px;
    @media screen and (min-width: 678px) {
      width: 289px;
      font-size: 42px;
      margin-bottom: 40px;

    }
    @media screen and (min-width: 1320px) {
      width: 400px;
      margin-left: 110px;
      font-size:50px;
      margin-bottom: 85px;//a
    }
  }

}