@use "../base/variables" as *;

.hero{

  &__subtitle, &__duration {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFFCC;
    font-weight: 400;
    font-size: 14px;
    width: 321px;
  }
  & > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 708px) {
      flex-direction: row;
    }
    @media screen and (min-width: 1300px) {
      justify-content: flex-start;
      align-items: start;
    }
  }

  &__subtitle{
    margin-bottom: 16px;
  }
  &__duration {
    width: 110px;
    margin-bottom: 32px;
    @media screen and (min-width: 708px) {
      margin-bottom: 105px;
    }
  }
  & > .container > picture > img {
    @media screen and (min-width: 708px) {

      margin-left: 0;
    }
    @media screen and (min-width: 1300px) {
      margin-left: 65px;
      width: 700px;
      height: 598px;
    }
  }
  &__order__btn {
    margin-bottom: 32px;
    @media screen and (min-width: 708px) {
      margin-bottom: 0;
    }
    border: none;
    background-color: #DF3D3A;
    color: #FFFFFFCC;
    padding: 19px 113px;
    font-size: 16px;
    @media screen and (min-width: 1300px) {
      margin-left: 110px;
    }
  }
  &__title {
    color: #FFFFFFCC;
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
    text-transform: uppercase;
    width: 304px;
    height: 68px;
    margin-bottom: 32px;
    @media screen and (min-width: 708px) {
      font-size: 42px;
      margin-bottom: 40px;

    }
    @media screen and (min-width: 1300px) {
      width: 400px;
      margin-left: 110px;
      font-size:50px;
      margin-bottom: 85px;//a
    }
  }

}