@use '../base/variables' as *;

.luxury {
  padding-top: 52px;
  padding-bottom: 52px;

  @media screen and (min-width: 678px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1320px) {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 32px;
    width: 300px;

    @media screen and (min-width: 678px) {
      font-size: 30px;
      width: 360px;
      margin-left: auto;
    }
    @media screen and (min-width: 1320px) {
      font-size: 54px;
      width: 650px;
    }
  }

  &__subtitle {
    color: $main-color;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 16px;

    @media screen and (min-width: 1320px) {
      font-size: 28px;
      // margin-left: 50px;
      width: 412px;
    }
  }

  &__text {
    color: $link-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 42px;

    @media screen and (min-width: 678px) {
      font-size: 16px;
      width: 310px;
      margin-right: 60px;
    }
    @media screen and (min-width: 1320px) {
      font-size: 20px;
      // margin-left: 50px;
      width: 550px;
    }
  }

  &__img {
    width: 280px;
    height: 293px;
    margin-bottom: 32px;
    @media screen and (min-width: 678px) {
      width: 768px;
      height: 293px;
    }
    @media screen and (min-width: 1320px) {
      width: 1440px;
    }
  }

  &__list {
    @media screen and (min-width: 678px) {
      display: flex;
    }
  }
}
