@use "../base/variables" as *;

.luxury {
  padding-top: 52px;
  padding-bottom: 52px;

  @media screen and (min-width: 708px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1300px) {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  &__title{
    color: $main-color;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 120%;
letter-spacing: 0.48px;
text-transform: uppercase;

@media screen and (min-width:708px) {
font-size: 30px;
}
@media screen and (min-width:1300px) {
font-size: 54px;
}

  }

  &__subtitle{
    color: $main-color;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 125%;

@media screen and (min-width:1300px) {
    font-size: 28px
}


  }

  &__text{
    color: $link-color;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 125%;

@media screen and (min-width:708px) {
font-size: 16px;
}
@media screen and (min-width:1300px) {
font-size: 20px;
}

  }
}