@use '../base/variables' as *;

.menu {
  padding: 30px 20px 0 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  opacity: 1;
  box-shadow: 0 20px 80px 0 #000;

  @media screen and (min-width:300px) and (max-width:299px) {
    width: 300px;
  }

  @media screen and (min-width:678px) {
    padding: 49px 60px 100px 60px;
    height: 387px;
  }

    @media screen and (min-width:678px) and (max-width:677px) {
      width:678px;
    }

  @media screen and (min-width:1320px) {
    opacity:0;
  }



  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
  }

  &__text {
    width: 98px;
    height: 12px;
    fill: $main-color;
  }

  &__btn {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: $link-color;
  }

  &__link {
    color: $link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;

    @media screen and (min-width:708px){
      font-size: 16px;  
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  &__item{
    width: 100%;
  }

}

.is-hidden {
  pointer-events: none;
  opacity: 0;

    @media screen and (min-width:678px) and (max-width:677px) {
      width:678px;
    }
}
