@use '../base/variables' as *;

.premium {
  padding-top: 52px;
  padding-bottom: 52px;

  @media screen and (min-width: 678px) {
    padding-top: 100px;
    padding-bottom: 128px;
  }
  @media screen and (min-width: 1320px) {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @media screen and (min-width: 678px) {
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-bottom: 32px;
    width: 250px;

    @media screen and (min-width: 678px) {
      font-size: 30px;
      letter-spacing: 0.6px;
      width: 294px;
    }
    @media screen and (min-width: 1320px) {
      font-size: 54px;
      letter-spacing: 1.08px;
      width: 500px;
      margin-bottom: 50px;
    }
  }

  &__subtitle {
    color: $main-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;

    @media screen and (min-width: 1320px) {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }

  &__text {
    color: $link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 24px;

    @media screen and (min-width: 678px) {
      font-size: 16px;
      width: 294px;
    }

    @media screen and (min-width: 1320px) {
      font-size: 20px;
      margin-bottom: 40px;
      width: 550px;
    }
  }
  &__img {
    width: 280px;
    height: 293px;
    @media screen and (min-width: 678px) {
      width: 354px;
      height: 540px;
      order: -1;
      margin-left: -30px;
      margin-right: 30px;
    }
    @media screen and (min-width: 1320px) {
      width: 590px;
      height: 616px;
      margin-right: 150px;
    }
  }
}
