@use "../base/variables" as *;

.product {

  @media screen and (min-width: 708px) {
    gap: 0;
  }

  &-info {
    @media screen and (min-width: 1300px) {
      margin-left: 200px;
    }
  }

  & > .container {
    position: relative;
    gap: 32px;

  }

  &__order__btn {
    border: none;
    background-color: #DF3D3A;
    color: $menu-color;
    padding: 19px 113px;
    font-size: 16px;
  }

  &__title {
    color: $menu-color;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;

    @media screen and (min-width: 708px) {
      margin-bottom: 32px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);

    @media screen and (min-width: 708px) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: 1300px) {
      width: 400px;
    }

    &__item {
      border-top: 2px solid rgba(255, 255, 255, 0.4);
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > p {
        color: #FFFFFFCC;
        font-size: 16px;
        line-height: 125%;

        @media screen and (min-width: 708px) {
          width: 270px;
          height: 20px;
        }
      }

      & > button {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .actions {
      @media screen and (min-width: 708px) {
        margin-bottom: 40px;
      }
    }

    &__cost {
      width: 283px;
      height: 65px;
      color: $accent-color;
      font-weight: 600;
      font-size: 30px;
      line-height: 120%;
      text-transform: uppercase;
    }
  }

  &__img {
    @media screen and (min-width: 708px) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: 1300px) {
      position: absolute;
      left: 820px;
      bottom: -30px;
      width: 700px;
      height: 664px;

    }
  }
}