@use "../base/variables" as *;

.product {

  @media screen and (min-width: 708px) {
    gap: 0;
  }

  .product__btn__black {
    & > div {
      background-color: transparent;
      border: 2px solid #ff0000;
    }

    border: 2px solid $menu-color;
    background-color: transparent;
  }

  .product__btn__white {
    & > div {
      background-color: $menu-color;
      border: transparent;
    }

    border: 2px solid $menu-color;
    background-color: rgba(255, 255, 255, 0.7);
  }


  .actions {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @media screen and (min-width: 1300px) {
      gap: 20px;
    }

    & > li {
      & > button {
        border-radius: 50%;

        & > div {
          padding: 6px;
          @media screen and (min-width: 708px) {
            padding: 8px;
          }
          border-radius: 50%;
          width: 32px;
          height: 32px;
          @media screen and (min-width: 708px) {
            width: 42px;
            height: 42px;
          }
          @media screen and (min-width: 1300px) {
            width: 54px;
            height: 54px;
          }
        }

        width: 44px;
        height: 44px;
        @media screen and (min-width: 708px) {
          width: 58px;
          height: 58px;
        }
        @media screen and (min-width: 1300px) {
          width: 70px;
          height: 70px;
        }

        border-radius: 50%;
      }
    }

    margin-bottom: 32px;
    @media screen and (min-width: 708px) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: 1300px) {
      margin-bottom: 50px;
    }
  }
  //aa
  &-info {
    @media screen and (min-width: 1300px) {
      margin-left: 200px;
    }
  }

  & > .container {
    position: relative;
    display: flex;
    gap: 32px;
    flex-direction: column;
    @media screen and (min-width: 1300px) {

      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0;
      height: 664px;

      //a
    }

  }

  &__order__btn {
    border: none;
    background-color: #DF3D3A;
    color: $menu-color;
    padding: 19px 113px;
    font-size: 16px;
  }

  &__title {
    color: $menu-color;
    font-weight: 600;
    font-size: 30px;
    @media screen and (min-width: 1300px) {
      font-size: 54px;
    }
    line-height: 120%;
    text-transform: uppercase;

    @media screen and (min-width: 708px) {
      margin-bottom: 32px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);

    @media screen and (min-width: 708px) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: 1300px) {
      width: 400px;
    }

    &__item {
      border-top: 2px solid rgba(255, 255, 255, 0.4);
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > p {
        color: #FFFFFFCC;
        font-size: 16px;
        line-height: 125%;

        @media screen and (min-width: 708px) {
          width: 270px;
          height: 20px;
        }
      }

      & > button {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .actions {
      @media screen and (min-width: 708px) {
        margin-bottom: 40px;
      }
    }

    &__cost {
      width: 283px;
      height: 65px;
      color: $accent-color;
      font-weight: 600;
      font-size: 30px;
      line-height: 120%;
      text-transform: uppercase;
    }
  }

  &__img {
    @media screen and (min-width: 708px) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: 1300px) {
      width: 700px;
      height: 664px;
      position: absolute;
      left: 500px;
      top: 0;

    }
  }
}