@use '../base/variables' as *;

.reviews {
  padding-bottom: 16px;

  @media screen and (min-width: 708px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1300px) {
    padding-bottom: 170px;
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    @media screen and (min-width: 708px) {
      font-size: 30px;
    }

    @media screen and (min-width: 1300px) {
      font-size: 54px;
    }
  }

  &__video {
    width: 100%;

    @media screen and (min-width: 708px) {
      width: 648px;
      height: 417px;
    }

    @media screen and (min-width: 1300px) {
      width: 920px;
      height: 590px;
    }
  }

  &__link {
    color: $accent-color;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;

    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }

  &__subtitle {
    color: $link-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;

    @media screen and (min-width: 708px) {
      font-size: 16px;
    }

    @media screen and (min-width: 1300px) {
      font-size: 20px;
    }
  }

  &__num {
    color: $accent-color;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    opacity: 0.2;

    @media screen and (min-width: 1300px) {
      font-size: 28px;
    }
  }
}

.actives {
  opacity: 1;
}
