ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    border: none;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

address {
    font-style: normal;
}

input,
textarea {
    display: block;
    border: none;
}

input,
textarea:focus-visible {
    outline: none;
    box-shadow: none;
}