$main-color:#E7E7E7;
$link-color:rgba(255, 255, 255, 0.80);
$textbtn-color:rgba(255, 255, 255, 0.90);
$accent-color:#DF3D3A;
$bg-svg:rgba(255, 255, 255, 0.10);
$black-color:#000;
$formtext-color:rgba(255, 255, 255, 0.30);
$chekbox-color:#E9EDFA;
$background-color:#191919;
$subtext-color:rgba(255, 255, 255, 0.40);
$menu-color:#FFFFFFCC;