<link rel="stylesheet" href="../scss/section/_bose.scss">
    <section class="bose">
        <div class="container">
                <h2 class="bose__title">Bose AR</h2>
                <p class="bose__subtitle">Brand name technology</p>
                <p class="bose__text">
                    Bose AR is a unique audio platform
                    augmented reality, that opens before
                    you new facets of sound. Itallows you
                    to stay connected to the real world and 
                    immerse yourself in the virtual universe
                    at the same time.</p>
            <img src="" alt="">
        </div>
    </section>