<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scss/section/_bose.scss">
</head>

<body>
    <section class="bose">
        <ul>
            <li>
                <h2>Bose AR</h2>
                <p>Brand name technology</p>
                <p>Bose AR is a unique audio platform augmented reality, that opens before you new facets of sound. It
                    allows you
                    to stay connected to the real world and immerse yourself in the virtual universe
                    at the same time.</p>
            </li>
            <li><a href=""></a></li>
        </ul>
    </section>
</body>

</html>