<section class="bose">
    <div class="container">
        <div class="bose__box">
            <h2 class="bose__title">Bose AR</h2>
            <h3 class="bose__subtitle">Brand name technology</h3>
            <p class="bose__text">
                Bose AR is a unique audio platform
                augmented reality, that opens before
                you new facets of sound. Itallows you
                to stay connected to the real world and
                immerse yourself in the virtual universe
                at the same time.</p>
        </div>
        <picture>
            <source srcset="/img/dekstop/bose-des@1x.webp 1x, /img/dekstop/bose-des@2x.webp 2x"
                media="(min-width: 1320px)">
            <source srcset="/img/tablet/bose-tablet@1x.webp 1x, /img/tablet/bose-tablet@2x.webp 2x"
                media="(min-width: 678px)">
            <source srcset="/img/mobile/bose-mobile@1x.webp 1x, /img/mobile/bose-mobile@2x.webp 2x"
                media="(max-width: 677px)">
            <img class="bose__img" src="/img/dekstop/bose-des@1x.webp" alt="bose" data-aos="fade-left">
        </picture>
    </div>
</section>