<section class="capable">
  <div class="container">
    <h2 class="capable__title"><span class="capable_span">capable</span> of so much</h2>
    <ul class="capable__list">
      <li class="capable__item">
        <p class="capable__text">Ability to receive calls</p>
      </li>
      <li class="capable__item">
        <p class="capable__text">Rich and powerful sound</p>
      </li>
      <li class="capable__item">
        <p class="capable__text">Active noise cancellation option</p>
      </li>
      <li class="capable__item">
        <p class="capable__text">Unsurpassed microphone system</p>
      </li>
      <li class="capable__item">
        <p class="capable__text">Support of voice assistants</p>
      </li>
      <li class="capable__item">
        <p class="capable__text">Bose AR Augmented Reality Audio Platform</p>
      </li>
    </ul>
  </div>
</section>
