<section class="feedback">
    <div class="container">
        <img class="feedback__img" src="../img/dekstop/feedback-des@1x.webp" alt="chelixa">
        <ul class="feedback__box">
            <li class="feedback__item">
                <h2 class="feedback__title">Feedback</h2>
                <p class="feedback__textar">We'll help you find the right headphones for you.</p>
            </li>
            <li class="feedback__item">
                <form class="feedback__form">
                    <input class="feedback__input" placeholder="Your name" type="text">
                    <input class="feedback__input" placeholder="Your e-mail" type="email">
                    <textarea class="feedback__texter" placeholder="Send us a message"></textarea>
                    <label class="feedback__label">
                        <input class="feedback__checkbox" type="checkbox">
                        I agree to the <a class="feedback__link" href="">privacy policy</a>
                    </label>
                    <button class="feedback__button">send</button>
                </form>
            </li>
        </ul>
    </div>
</section>