<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li>
        <ul class="footer__lists">
          <li class="footer__item">
            <a href="#" class="footer__link">Characteristics</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">History</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Reviews</a>
          </li>
        </ul>
      </li>
      <li>
        <ul class="footer__lists footer__lister">
          <li class="footer__item">
            <a href="#" class="footer__link">Payment and delivery</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Store addresses</a>
          </li>
          <li class="footer__item"><a href="#" class="footer__link">FAQ</a></li>
        </ul>
      </li>
    </ul>
    <a href="tel:88001111111" class="footer__contact">8 (800) 111-11-11</a>
  </div>
</footer>
