
    <section class="guarantees">
        <div class="container">
            <h2 class="guarantees__title">Guarantees</h2>
            <ul class="guarantees__list">
                <li class="guarantees__item">
                    <h3 class="guarantees__subtitle">90 Day Money Back Guarantee</h3>
                    <p class="guarantees__text">If you are not 100% satisfied with a product, you can return it back for a full refund.</p>
                </li>
                <li class="guarantees__item">
                    <h3 class="guarantees__subtitle">1 year warranty</h3>
                    <p class="guarantees__text">Regardless of your country of residence,
                        if your headphones are broken, we will
                        send you new ones.</p>
                </li>
                
            </ul>
            <img class="guarantees__img" src="../img/dekstop/guarantees-des@1x.webp" alt="">
        </div>
    </section>