
    <section class="quarantees">
        <div class="container">
            <h2 class="quarantees__">Guarantees</h2>
            <ul class="quarantees__">
                <li class="quarantees__">
                    <h3 class="quarantees__">90 Day Money Back Guarantee</h3>
                    <p class="quarantees__">If you are not 100% satisfied with a product, you can return it back for a full refund.</p>
                </li>
                <li class="quarantees__">
                    <h3 class="quarantees__">1 year warranty</h3>
                    <p class="quarantees__">Regardless of your country of residence,
                        if your headphones are broken, we will
                        send you new ones.</p>
                </li>
                <li class="quarantees__"><a class="quarantees__link" href=""></a></li>
            </ul>
        </div>
    </section>