<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scss/section/_guarantees.scss">
</head>

<body>
    <section class="quarantees">
        <div class="container">
            <ul class="quarantees__">
                <h2 class="quarantees__">Guarantees</h2>
                <li class="quarantees__">
                    <p class="quarantees__">90 Day Money Back Guarantee</p>
                    <p class="quarantees__">If you are not 100% satisfied with a product, you can return it back for a full refund.</p>
                </li>
                <li class="quarantees__">
                    <p class="quarantees__">1 year warranty</p>
                    <p class="quarantees__">Regardless of your country of residence,
                        if your headphones are broken, we will
                        send you new ones.</p>
                </li>
                <li class="quarantees__"><a class="quarantees__" href=""></a></li>
            </ul>
        </div>
    </section>
</body>

</html>