<header class="header">
  <div class="container">
    <a class="header__logo" href="#">
      <svg>
        <use href="../img/symbol-defs.svg#bose"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">Characteristics</li>
        <li class="header__nav-item">History</li>
        <li class="header__nav-item">Reviews</li>
        <li class="header__nav-item">Payment and delivery</li>
      </ul>
    </nav>
    <button class="header__menu-btn">
      <svg>
        <use href="../img/symbol-defs.svg#menu" ></use>
      </svg>
    </button>
  </div>
</header>

