<section class="hero">
  <div class="container">
    <div class="hero__info">
      <p class="hero__subtitle">
        Noise cancellation headphones that are capable for a lot of things
      </p>
      <p class="hero__duration">
        Up to 20 hours of playback
      </p>
      <h2 class="hero__title">Headphones Bose NC 700</h2>
      <button class="hero__order__btn" type="button">Order</button>
    </div>


    <picture>
      <source media="(min-width: 1320px  )"
              srcset="/img/dekstop/phone_ears-des@1x.webp 1x, ../img/dekstop/phone_ears-des@2x.webp 2x ">
      <source media="(min-width: 678px  )"
              srcset="/img/tablet/phone_ears-tablet@1x.webp 1x, ../img/tablet/phone_ears-tablet@2x.webp 2x ">
      <source media="(max-width: 300px  )"
              srcset="/img/mobile/phone_ears-mobile@1x.webp 1x, ../img/mobile/phone_ears-mobile@2x.webp 2x ">
      <img src="/img/dekstop/phone_ears-des@1x.webp" alt="phone_ears">
    </picture>

  </div>
</section>