
<section>
  <ul>
    <li> <!--left side-->
      <ul>
        <li>
          <ul>
            <li><!--text small and bold-->
              <ul><!--small-->
                <li>
                  <p>Noise cancellation headphones
                    that are capable for a lot of things</p>
                </li>
                <li>
                  <p>Up to 20 hours
                    of playback</p>
                </li>
              </ul>
            </li>
            <li>
              <p>Headphones
                Bose NC 700</p><!--blond-->
            </li>
          </ul>
        </li>
        <li>
          <button>
            Order
          </button>
        </li>
      </ul>
    </li>
    <li><!--right side-->
      <img src=""><!--image-->
    </li>
  </ul>
</section>