<section class="luxury">
  <div class="container">
    <h2 class="luxury__title">The luxury of silence</h2>
    <picture>
      <source srcset="/img/dekstop/luxury-des@1x.webp 1x, /img/dekstop/luxury-des@2x.webp 2x" media="(min-width:1320px)">
      <source srcset="/img/tablet/luxury-tablet@1x.webp 1x, /img/tablet/luxury-tablet@2x.webp 2x" media="(min-width:678px)">
      <source srcset="/img/mobile/luxury-mobile@1x.webp 1x, /img/mobile/luxury-mobile@2x.webp 2x" media="(max-width:677px)">
    <img class="luxury__img" src="/img/dekstop/luxury-des@1x.webp" alt="sun" />
    </picture>
    <ul class="luxury__list">
      <li class="luxury__item">
        <h3 class="luxury__subtitle">Maximum enjoyment</h3>
        <p class="luxury__text">
          In order to create a comfortable atmosphere - raise the level by level
          from the "transparent" mode to the maximum blocking of sounds. The
          conversation mode can be activated in one click using a special
          button.
        </p>
      </li>
      <li class="luxury__item">
        <h3 class="luxury__subtitle">Crystal sound</h3>
        <p class="luxury__text">
          The speaker system and brand name active equalizer are able to provide
          high-quality and powerful sound at any volume level. You can be sure
          of no distortion and crystal clear at high and low frequencies.
        </p>
      </li>
    </ul>
  </div>
</section>
