<div data-mobile class="menu is-hidden">
  <div class="menu__box">
  <a href="../index.html" class="menu__logo">
    <svg class="menu__text">
      <use href="../img/symbol-defs.svg#bose"></use>
    </svg>
  </a>
  <button data-mobile-close type="button" class="menu__btn">
    <svg class="menu__icon">
      <use href="../img/symbol-defs.svg#hrestik"></use>
    </svg>
  </button>
  </div>
  <ul class="menu__list">
    <li class="menu__item">
      <a href="../index.html" class="menu__link">Characteristics</a>
    </li>
    <li class="menu__item">
      <a href="../index.html" class="menu__link">History</a>
    </li>
    <li class="menu__item">
      <a href="../index.html" class="menu__link">Reviews</a>
    </li>
    <li class="menu__item">
      <a href="../index.html" class="menu__link">Payment and delivery</a>
    </li>
  </ul>
</div>
