<section class="premium">
  <div class="container">
    <div class="premium__box">
    <h2 data-aos="fade-right" class="premium__title">Premium design and comfort</h2>
    <ul class="premium__list">
      <li class="premium__item">
        <h2 data-aos="fade-left" class="premium__subtitle">11 levels of noise reduction</h2>
        <p data-aos="fade-right" class="premium__text">
          With the new Bose Noise Canceling Headphone 700, you can smoothly
          increase or decrease the level of noise cancellation. You can be heard
          perfectly and you hear the interlocutor clearly, even in a noisy
          environment!
        </p>
      </li>
      <li class="premium__item">
        <h3 data-aos="fade-left" class="premium__subtitle">Comfort up to max level</h3>
        <p data-aos="fade-right" class="premium__text">
          Stylish, lightweight stainless steel headband with soft, angled cups
          of headphones for comfortable seating. The inner side is made of soft
          gel lining that fits well to the head.
        </p>
      </li>
    </ul>
    </div>
    <picture>
      <source srcset="/img/dekstop/premium-des@1x.webp 1x, /img/dekstop/premium-des@2x.webp 2x" media="(min-width:1320px)">
      <source srcset="/img/tablet/premium-tablet@1x.webp 1x, /img/tablet/premium-tablet@2x.webp 2x" media="(min-width:678px)">
      <source src="/img/mobile/premium-mobile@1x.webp 1x, /img/mobile/premium-mobile@2x.webp 2x" media="(max-width:677px)">
      <img data-aos="zoom-in" class="premium__img" src="/img/dekstop/premium-des@1x.webp" alt="women" />
      </picture>
  </div>
</section>