<ul>
  <li><!--left side-->
    <h2>bose nc 700</h2><!--blout-->
    <button></button>
    <button></button>
    <ul>
      <li>
        <ul></ul>
        <uL>
          <li>Availability in stores</li>
          <li>
            <button></button>
          </li>
        </uL>
      </li>
      <li>
        <uL>
          <li>Characteristics</li>
          <li>
            <button></button>
          </li>
        </uL>
      </li>

      <li>
        <uL>
          <li>Payment and delivery methods</li>
          <li>
            <button></button>
          </li>
        </uL>
      </li>
    </ul>
    <h3>14999 UAH</h3>
    <button>
      Order
    </button>
  </li>
  <li><!--right side-->
    <img src=""><!--image-->
  </li>
</ul>