<section class="product">
  <div class="product-info"><!--left-->
    <h2>Bose NC 700</h2>
    <ul class="actions">
      <li>
        <button></button>
      </li>
      <li>
        <button></button>
      </li>
    </ul>
    <ul>
      <li><p>Availability in stores</p></li>
      <li><p>Characteristics</p></li>
      <li><p>Payment and delivery methods</p></li>
    </ul>
    <h3>14999 UAH</h3>
    <button>Order</button>
  </div>

  <div class="product-image"><!--right-->
    <img alt="Bose NC 700 headphones" src="">
  </div>
</section>
