<section class="product">
  <div class="product-info container">
    <div>
      <h2 class="product__title">Bose NC 700</h2>
      <picture>
        <source  media="(min-width: 1300px  )"
                srcset="/img/dekstop/products-black-des@1x.webp 1x, /img/dekstop/products-black-des@2x.webp 2x ">
        <source media="(min-width: 708px  )"
                srcset="/img/tablet/products-black-tablet@1x.webp 1x, /img/tablet/products-black-tablet@2x.webp 2x ">
        <source  media="(max-width: 300px  )"
                srcset="/img/mobile/products-black-mobile@1x.webp 1x, /img/mobile/products-black-mobile@2x.webp 2x ">
        <img src="/img/dekstop/products-black-des@1x.webp" alt="phone_ears" class="product__img" id="p1">
      </picture>

      <picture>
        <source  media="(min-width: 1300px  )"
                 srcset="/img/dekstop/products-grey-des@1x.webp 1x, /img/dekstop/products-grey-des@2x.webp 2x ">
        <source media="(min-width: 708px  )"
                srcset="/img/tablet/products-grey-tablet@1x.webp 1x, /img/tablet/products-grey-tablet@2x.webp 2x ">
        <source  media="(max-width: 300px  )"
                 srcset="/img/mobile/products-grey-mobile@1x.webp 1x, /img/mobile/products-grey-mobile@2x.webp 2x ">
        <img src="/img/dekstop/products-grey-des@1x.webp" alt="phone_ears" class="product__img" id="p2">
      </picture>


      <ul class="product__actions" id="actions">
        <li>
          <button class="product__btn__black" id="product__btn__black">
            <div id="b1"></div>
          </button>
        </li>
        <li>
          <button class="product__btn__white" id="product__btn__white">
            <div id="b2">

            </div>
          </button>
        </li>
      </ul>
      <ul class="product__list">
        <li class="product__list__item">
          <p>Availability in stores</p>
          <button>
            <svg fill="none" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.707034 21L20.707 1M20.707 1L0.707035 0.999999M20.707 1L20.707 21" stroke="#DF3D3A"
                    stroke-width="2" />
            </svg>
          </button>
        </li>
        <li class="product__list__item"><p>Characteristics</p>
          <button>
            <svg fill="none" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.707034 21L20.707 1M20.707 1L0.707035 0.999999M20.707 1L20.707 21" stroke="#DF3D3A"
                    stroke-width="2" />
            </svg>
          </button>
        </li>
        <li class="product__list__item"><p>Payment and delivery methods</p>
          <button>
            <svg fill="none" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.707034 21L20.707 1M20.707 1L0.707035 0.999999M20.707 1L20.707 21" stroke="#DF3D3A"
                    stroke-width="2" />
            </svg>
          </button>
        </li>
      </ul>
      <h3 class="product__list__cost">14999 UAH</h3>
      <button class="product__order__btn">Order</button>
    </div>
  </div>
</section>