<section class="reviews">
    <div class="container">
    <h2 class="reviews__title">reviews</h2>
<iframe 
  class="reviews__video"
  src="https://www.youtube.com/embed/VqP11Ma_2Fk?si=e1KHt_L2AmuM4SFA"
  title="YouTube video player"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
  style="border: none;"
></iframe>
    <div>
    <h2 class="reviews__titles">reviews</h2>
    <a href="https://www.youtube.com/watch?v=VqP11Ma_2Fk" class="reviews__link">Bose Сorporation</a>
    <p class="reviews__subtitle">Critically acclaimed for their powerful noise cancelling, astonishing sound, and unrivaled voice pickup, Bose Noise Cancelling Headphones 700 help turn any space into the perfect place to listen to music, get work done, or just shut out the world for a few moments and relax. </p>
    <ul class="reviews__list">
        <li class="reviews__item"><p class="reviews__num actives">01 <span>-</span></p></li>
        <li class="reviews__item"><p class="reviews__num">02 <span>-</span></p></li>
        <li class="reviews__item"><p class="reviews__num">03 <span>-</span></p></li>
        <li class="reviews__item"><p class="reviews__num">04</p></li>
    </ul>
    </div>
    </div>
</section>