ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  font-family: "Poppins";
  background-color: #191919;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
  padding: 0 20px;
  outline: 1px solid red;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
    padding: 0 10px;
  }
}
@media screen and (min-width: 708px) {
  .container {
    width: 708px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}

.premium {
  padding-top: 52px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .premium {
    padding-top: 100px;
    padding-bottom: 128px;
  }
}
@media screen and (min-width: 1300px) {
  .premium {
    padding-top: 91px;
    padding-bottom: 249px;
  }
}
.premium__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .premium__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
@media screen and (min-width: 1300px) {
  .premium__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
.premium__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
@media screen and (min-width: 1300px) {
  .premium__subtitle {
    font-size: 28px;
  }
}
.premium__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .premium__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .premium__text {
    font-size: 20px;
  }
}

.capable {
  padding-top: 52px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .capable {
    padding-top: 249px;
    padding-bottom: 170px;
  }
}
.capable__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .capable__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .capable__title {
    font-size: 54px;
  }
}
.capable__title__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .capable__title__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .capable__title__text {
    font-size: 20px;
  }
}

.luxury {
  padding-top: 52px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .luxury {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .luxury {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}
.luxury__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .luxury__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .luxury__title {
    font-size: 54px;
  }
}
.luxury__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
@media screen and (min-width: 1300px) {
  .luxury__subtitle {
    font-size: 28px;
  }
}
.luxury__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .luxury__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .luxury__text {
    font-size: 20px;
  }
}

.brand {
  padding: 52px 0;
}
@media screen and (min-width: 708px) {
  .brand {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1300px) {
  .brand {
    padding: 170px 0;
  }
}
.brand > .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 1300px) {
  .brand > .container {
    gap: 50px;
  }
}
@media screen and (min-width: 708px) {
  .brand__box {
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__box {
    gap: 0;
    justify-content: space-between;
  }
}
.brand__box > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 708px) {
  .brand__box > div {
    gap: 0;
  }
}
.brand__wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 708px) {
  .brand__wrap {
    flex-direction: row;
    gap: 60px;
    align-items: end;
  }
}
@media screen and (min-width: 1300px) {
  .brand__wrap {
    gap: 260px;
  }
}
.brand__img2 {
  display: block;
  width: 280px;
  height: 251px;
}
@media screen and (min-width: 708px) {
  .brand__img2 {
    display: none;
  }
}
.brand__img {
  display: none;
}
@media screen and (min-width: 708px) {
  .brand__img {
    display: block;
    width: 354px;
    height: 549px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__img {
    width: 700px;
    height: 695px;
  }
}
.brand__imgs {
  width: 280px;
  height: 343px;
}
@media screen and (min-width: 708px) {
  .brand__imgs {
    display: none;
  }
}
.brand__imgs2 {
  display: none;
}
@media screen and (min-width: 708px) {
  .brand__imgs2 {
    display: block;
    width: 294px;
    height: 400px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__imgs2 {
    width: 290px;
    height: 380px;
  }
}
.brand__wraper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 708px) {
  .brand__wraper {
    gap: 133px;
  }
}
.brand__icon {
  width: 34px;
  height: 25px;
  fill: #DF3D3A;
}
.brand__title {
  width: 124px;
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
@media screen and (min-width: 708px) {
  .brand__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__title {
    font-size: 54px;
  }
}
.brand__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.45;
  text-wrap: balance;
}
@media screen and (min-width: 708px) {
  .brand__subtitle {
    width: 294px;
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 85px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__subtitle {
    font-size: 20px;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 74px;
  }
}
.brand__sub {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 1300px) {
  .brand__sub {
    width: 510px;
  }
}
.brand__head {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}
@media screen and (min-width: 708px) {
  .brand__head {
    margin-top: 52px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__head {
    width: 490px;
    font-size: 28px;
    margin-bottom: 32px;
  }
}
.brand__principal {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 708px) {
  .brand__principal {
    font-size: 16px;
  }
}

.reviews {
  padding-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .reviews {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews {
    padding-bottom: 170px;
  }
}
.reviews > .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1300px) {
  .reviews > .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.reviews__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews__title {
    display: none;
  }
}
.reviews__titles {
  display: none;
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 1300px) {
  .reviews__titles {
    display: block;
    font-size: 54px;
  }
}
.reviews__video {
  width: 100%;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__video {
    width: 648px;
    height: 417px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews__video {
    width: 920px;
    height: 590px;
  }
}
.reviews__link {
  color: #DF3D3A;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1300px) {
  .reviews__link {
    font-size: 28px;
  }
}
.reviews__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__subtitle {
    font-size: 16px;
    width: 530px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews__subtitle {
    width: 258px;
    font-size: 20px;
  }
}
.reviews__num {
  display: flex;
  gap: 20px;
  color: #DF3D3A;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.2;
}
@media screen and (min-width: 1300px) {
  .reviews__num {
    font-size: 28px;
    gap: 12px;
  }
}
.reviews__list {
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 1300px) {
  .reviews__list {
    gap: 12px;
  }
}

.actives {
  opacity: 1;
}

.faq {
  padding: 0 0 52px 0;
}
@media screen and (min-width: 708px) {
  .faq {
    padding: 0 0 100px 0;
  }
}
@media screen and (min-width: 1300px) {
  .faq {
    padding: 0 0 170px 0;
  }
}
.faq__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 1300px) {
  .faq__title {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
.faq__num {
  color: #E7E7E7;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 0.7;
}
@media screen and (min-width: 1300px) {
  .faq__num {
    font-size: 28px;
  }
}
.faq__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 708px) {
  .faq__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .faq__text {
    font-size: 28px;
  }
}
.faq__btn {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-with: 1300px) {
  .faq__btn {
    width: 42px;
    height: 42px;
  }
}
.faq__icon {
  width: 9px;
  height: 14px;
  fill: #E7E7E7;
}
@media screen and (min-with: 1300px) {
  .faq__icon {
    width: 12px;
    height: 20px;
  }
}
.faq__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
}

.footer {
  padding: 0 0 52px 0;
}
@media screen and (min-width: 708px) {
  .footer {
    padding: 0 0 50px 0;
  }
}
@media screen and (min-width: 1300px) {
  .footer {
    padding: 0 0 74px 0;
  }
}
.footer > .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 708px) {
  .footer > .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 1300px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__contact {
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .footer__list {
    justify-content: stretch;
    gap: 139px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1300px) {
  .footer__list {
    gap: 50px;
  }
}
.footer__lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
@media screen and (min-width: 1300px) {
  .footer__lists {
    flex-direction: row;
    gap: 50px;
  }
}
.footer__lister {
  align-items: end;
}/*# sourceMappingURL=main.css.map */
