ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
  border: none;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  font-family: "Poppins";
  background-color: #191919;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  outline: 1px solid red;
}
@media screen and (min-width: 300px) {
  .container {
    width: 300px;
    padding: 0 10px;
  }
}
@media screen and (min-width: 708px) {
  .container {
    width: 708px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}

.header {
  margin-left: auto;
  padding: 16px 0;
  margin-left: 0;
}
.header > .container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 708px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1300px) {
  .header {
    padding: 26px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  line-height: 1.38;
  font-size: 24px;
  letter-spacing: 0.78px;
  margin-right: auto;
  fill: rgba(255, 255, 255, 0.8);
}
.header__logo > svg {
  width: 130px;
}
@media screen and (min-width: 1300px) {
  .header__logo {
    margin-left: 60px;
  }
}
@media screen and (min-width: 708px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 400px;
  }
}
.header__logo--accent {
  color: #DF3D3A;
}
.header__menu-btn {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.header__menu-btn > svg {
  fill: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1300px) {
  .header__menu-btn {
    display: none;
  }
}
.header__menu-btn .header__menu-icon {
  width: 40px;
  height: 40px;
  fill: #000;
}
@media screen and (max-width: 1300px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: none;
  margin-left: auto;
  margin-top: 15px;
}
@media screen and (min-width: 708px) {
  .header__nav-list {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
}
.header__nav-item {
  margin-bottom: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.8);
}
.header__nav-item--current {
  color: #DF3D3A;
}
.header__nav-item--current::after {
  content: "";
  display: block;
  opacity: 0;
  border-radius: 2px;
  background-color: #DF3D3A;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 49px;
  left: 0;
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.header__nav-item--current:hover::after {
  opacity: 1;
  transform: scale(1);
}

.hero__subtitle, .hero__duration {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 14px;
  width: 321px;
}
.hero > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 708px) {
  .hero > .container {
    flex-direction: row;
  }
}
@media screen and (min-width: 1300px) {
  .hero > .container {
    justify-content: flex-start;
    gap: 600px;
  }
}
.hero__subtitle {
  margin-bottom: 16px;
}
.hero__duration {
  width: 110px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .hero__duration {
    margin-bottom: 105px;
  }
}
.hero__order__btn {
  border: none;
  background-color: #DF3D3A;
  color: #FFFFFF;
  padding: 19px 113px;
  font-size: 16px;
}
@media screen and (min-width: 1300px) {
  .hero__order__btn {
    margin-left: 110px;
  }
}
.hero__title {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  text-transform: uppercase;
  width: 304px;
  height: 68px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .hero__title {
    font-size: 42px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1300px) {
  .hero__title {
    margin-left: 110px;
  }
}
@media screen and (min-width: 1300px) {
  .hero__img > img {
    margin-left: 110px;
  }
}

.premium {
  padding-top: 52px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .premium {
    padding-top: 100px;
    padding-bottom: 128px;
  }
}
@media screen and (min-width: 1300px) {
  .premium {
    padding-top: 91px;
    padding-bottom: 249px;
  }
}
.premium > .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media screen and (min-width: 708px) {
  .premium > .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.premium__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  width: 250px;
}
@media screen and (min-width: 708px) {
  .premium__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    width: 294px;
  }
}
@media screen and (min-width: 1300px) {
  .premium__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    width: 500px;
    margin-bottom: 50px;
  }
}
.premium__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
}
@media screen and (min-width: 1300px) {
  .premium__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.premium__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 24px;
}
@media screen and (min-width: 708px) {
  .premium__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .premium__text {
    font-size: 20px;
    margin-bottom: 40px;
    width: 550px;
  }
}
@media screen and (min-width: 1300px) and (min-width: 1300px) {
  .premium__text {
    font-size: 20px;
  }
}
.premium__img {
  width: 280px;
  height: 293px;
}
@media screen and (min-width: 708px) {
  .premium__img {
    width: 354px;
    height: 540px;
    order: -1;
    margin-left: -30px;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1300px) {
  .premium__img {
    width: 590px;
    height: 616px;
    margin-right: 150px;
  }
}

.capable {
  padding-top: 52px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .capable {
    padding-top: 249px;
    padding-bottom: 170px;
  }
}
.capable__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  display: flex;
  width: 250px;
  flex-wrap: wrap;
}
@media screen and (min-width: 708px) {
  .capable__title {
    font-size: 30px;
    width: 412px;
    display: block;
  }
}
@media screen and (min-width: 1300px) {
  .capable__title {
    font-size: 54px;
    width: 600px;
  }
}
.capable__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
@media screen and (min-width: 708px) {
  .capable__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .capable__text {
    font-size: 20px;
  }
}
.capable__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 1300px) {
  .capable__list {
    gap: 20px;
  }
}
.capable__item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.capable__item::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DF3D3A;
  border-radius: 50%;
}

.luxury {
  padding-top: 52px;
  padding-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .luxury {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .luxury {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}
.luxury__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
  width: 300px;
}
@media screen and (min-width: 708px) {
  .luxury__title {
    font-size: 30px;
    width: 360px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1300px) {
  .luxury__title {
    font-size: 54px;
    width: 650px;
  }
}
.luxury__subtitle {
  color: #E7E7E7;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
}
@media screen and (min-width: 1300px) {
  .luxury__subtitle {
    font-size: 28px;
    width: 412px;
  }
}
.luxury__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 42px;
}
@media screen and (min-width: 708px) {
  .luxury__text {
    font-size: 16px;
    width: 310px;
    margin-right: 60px;
  }
}
@media screen and (min-width: 1300px) {
  .luxury__text {
    font-size: 20px;
    width: 550px;
  }
}
.luxury__img {
  width: 280px;
  height: 293px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .luxury__img {
    width: 768px;
    height: 293px;
  }
}
@media screen and (min-width: 1300px) {
  .luxury__img {
    width: 1440px;
  }
}
@media screen and (min-width: 708px) {
  .luxury__list {
    display: flex;
  }
}

.bose {
  padding-top: 52px;
  padding-bottom: 52px;
}
@media screen and (min-width: 1300px) {
  .bose {
    padding-top: 170px;
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 708px) {
  .bose {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.bose > .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 708px) {
  .bose > .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1300px) {
  .bose > .container {
    gap: 239px;
  }
}
.bose__title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #e7e7e7;
}
@media screen and (min-width: 708px) {
  .bose__title {
    font-size: 54px;
  }
}
.bose__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.8);
  margin-top: 20px;
}
@media screen and (min-width: 1300px) {
  .bose__text {
    width: 380px;
  }
}
@media screen and (min-width: 708px) {
  .bose__text {
    font-size: 20px;
    margin-top: 16px;
    margin-top: 27px;
    width: 294px;
  }
}
.bose__subtitle {
  font-weight: 600;
  font-size: 20px;
  color: rgb(231, 231, 231);
  margin-top: 32px;
  margin-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .bose__subtitle {
    font-size: 28px;
    line-height: 125%;
    margin-top: 43px;
  }
}
.bose__img {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}
@media screen and (min-width: 708px) {
  .bose__img {
    width: 450px;
    height: 400px;
    margin-top: 0;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1300px) {
  .bose__img {
    height: 100%;
    width: 100%;
    margin-left: 0;
  }
}

.guarantees > .container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 708px) {
  .guarantees > .container {
    flex-direction: row;
  }
}
.guarantees__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  font-style: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: #e7e7e7;
  margin-bottom: 32px;
}
@media screen and (min-width: 1300px) {
  .guarantees__title {
    font-size: 54px;
    line-height: 120%;
    letter-spacing: 1.08px;
  }
}
@media screen and (min-width: 708px) {
  .guarantees__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
.guarantees__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  font-style: normal;
  color: #e7e7e7;
}
@media screen and (min-width: 1300px) {
  .guarantees__subtitle {
    font-size: 28px;
  }
}
@media screen and (min-width: 708px) {
  .guarantees__subtitle {
    width: 320px;
  }
}
.guarantees__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}
@media screen and (min-width: 1300px) {
  .guarantees__text {
    font-size: 20px;
    line-height: 145%;
  }
}
@media screen and (min-width: 708px) {
  .guarantees__text {
    font-size: 16px;
    line-height: 145%;
    width: 270px;
  }
}
.guarantees__item::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #DF3D3A;
  border-radius: 50%;
  margin-bottom: 16px;
}
.guarantees__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.guarantees__img {
  width: 280px;
  height: 268px;
  margin-top: 32px;
}
@media screen and (min-width: 708px) {
  .guarantees__img {
    width: 354px;
    height: 442px;
    margin-top: 0;
    margin-right: 35px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1300px) {
  .guarantees__img {
    width: 590px;
    height: 565px;
  }
}

.brand {
  padding: 52px 0;
}
@media screen and (min-width: 708px) {
  .brand {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1300px) {
  .brand {
    padding: 170px 0;
  }
}
.brand .container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 708px) {
  .brand .container {
    position: relative;
    gap: 100px;
  }
}
.brand__wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 708px) {
  .brand__wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}
.brand__wraper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.brand__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 124px;
}
@media screen and (min-width: 708px) {
  .brand__title {
    font-size: 30px;
    letter-spacing: 0.6px;
    width: 155px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__title {
    font-size: 54px;
    letter-spacing: 1.08px;
    width: 279px;
  }
}
.brand__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 708px) {
  .brand__subtitle {
    font-size: 16px;
    width: 294px;
    line-height: 1.45;
    margin-bottom: 85px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__subtitle {
    font-size: 20px;
    width: 400px;
    margin-bottom: 74px;
  }
}
.brand__img {
  width: 280px;
  height: 251px;
}
@media screen and (min-width: 708px) {
  .brand__img {
    width: 354px;
    height: 524px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__img {
    width: 700px;
    height: 628px;
  }
}
.brand__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 708px) {
  .brand__text {
    font-size: 16px;
    line-height: 1.45;
    width: 294px;
    position: absolute;
    left: 15px;
    top: 45%;
  }
}
@media screen and (min-width: 1300px) {
  .brand__text {
    font-size: 20px;
    width: 400px;
  }
}
.brand__boxes {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 708px) {
  .brand__boxes {
    flex-wrap: wrap;
  }
}
.brand__sub {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  width: 280px;
  margin-top: 32px;
}
@media screen and (min-width: 708px) {
  .brand__sub {
    font-size: 16px;
    width: 294px;
    line-height: 1.45;
    position: absolute;
    top: 60%;
    right: 40px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1300px) {
  .brand__sub {
    font-size: 20px;
    width: 510px;
    right: 210px;
  }
}
@media screen and (min-width: 708px) {
  .brand__div {
    display: flex;
    justify-content: space-between;
    margin-top: 133px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__div {
    margin-top: 0;
  }
}
.brand__images {
  width: 280px;
  height: 343px;
}
@media screen and (min-width: 708px) {
  .brand__images {
    width: 294px;
    height: 355px;
    order: -1;
  }
}
@media screen and (min-width: 1300px) {
  .brand__images {
    width: 290px;
    height: 355px;
  }
}
.brand__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 708px) {
  .brand__box {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1300px) {
  .brand__box {
    position: absolute;
    right: 340px;
    bottom: 0;
  }
}
.brand__box:before {
  content: "";
  display: block;
  width: 34px;
  height: 25px;
  background-image: url(../../img/lapki.png);
  margin-bottom: 24px;
  margin-top: 50px;
}
@media screen and (min-width: 708px) {
  .brand__box:before {
    margin-bottom: 52px;
    margin-top: 0;
  }
}
.brand__head {
  color: #E7E7E7;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
  width: 280px;
}
@media screen and (min-width: 708px) {
  .brand__head {
    font-size: 28px;
    width: 320px;
  }
}
@media screen and (min-width: 1300px) {
  .brand__head {
    width: 382px;
  }
}
.brand__principal {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 708px) {
  .brand__principal {
    font-size: 16px;
    line-height: 0.7;
  }
}

.reviews {
  padding-bottom: 16px;
}
@media screen and (min-width: 708px) {
  .reviews {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews {
    padding-bottom: 170px;
  }
}
.reviews > .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1300px) {
  .reviews > .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.reviews__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews__title {
    display: none;
  }
}
.reviews__titles {
  display: none;
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 1300px) {
  .reviews__titles {
    display: block;
    font-size: 54px;
  }
}
.reviews__video {
  width: 100%;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__video {
    width: 648px;
    height: 417px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews__video {
    order: 2;
    width: 920px;
    height: 590px;
  }
}
.reviews__link {
  color: #DF3D3A;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.25;
}
@media screen and (min-width: 1300px) {
  .reviews__link {
    font-size: 28px;
  }
}
.reviews__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 16px;
  margin-bottom: 32px;
}
@media screen and (min-width: 708px) {
  .reviews__subtitle {
    font-size: 16px;
    width: 530px;
  }
}
@media screen and (min-width: 1300px) {
  .reviews__subtitle {
    width: 258px;
    font-size: 20px;
  }
}
.reviews__num {
  display: flex;
  gap: 20px;
  color: #DF3D3A;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  opacity: 0.2;
}
@media screen and (min-width: 1300px) {
  .reviews__num {
    font-size: 28px;
    gap: 12px;
  }
}
.reviews__list {
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 1300px) {
  .reviews__list {
    gap: 12px;
  }
}

.actives {
  opacity: 1;
}

.faq {
  padding: 0 0 52px 0;
}
@media screen and (min-width: 708px) {
  .faq {
    padding: 0 0 100px 0;
  }
}
@media screen and (min-width: 1300px) {
  .faq {
    padding: 0 0 170px 0;
  }
}
.faq__title {
  color: #E7E7E7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (min-width: 1300px) {
  .faq__title {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
.faq__num {
  color: #E7E7E7;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-weight: 400;
  line-height: 0.7;
  text-align: start;
}
@media screen and (min-width: 1300px) {
  .faq__num {
    font-size: 28px;
  }
}
.faq__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 16px;
  margin-right: auto;
}
@media screen and (min-width: 708px) {
  .faq__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .faq__text {
    font-size: 28px;
    margin-left: 32px;
  }
}
.faq__btn {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
}
@media screen and (min-width: 1300px) {
  .faq__btn {
    padding: 11px 15px;
  }
}
.faq__icon {
  width: 9px;
  height: 14px;
  fill: #E7E7E7;
}
@media screen and (min-width: 1300px) {
  .faq__icon {
    width: 12px;
    height: 20px;
  }
}
.faq__subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.45;
  margin-top: 16px;
  opacity: 0;
  transform: translateY(-150px);
  transition-property: transform;
  transition-duration: 0.25s;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 708px) {
  .faq__subtitle {
    font-size: 17px;
  }
}
@media screen and (min-width: 1300px) {
  .faq__subtitle {
    font-size: 20px;
  }
}
.faq__div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}
@media screen and (min-width: 708px) {
  .faq__div {
    align-items: center;
  }
}
.faq__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 0 24px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.faq__item:hover .faq__subtitle {
  transform: translateY(0);
  opacity: 1;
  position: static;
}
@media screen and (min-width: 1300px) {
  .faq__item {
    padding: 0 0 26px 0;
  }
}
@media screen and (min-width: 708px) {
  .faq__item {
    align-items: center;
    padding: 0 0 37px 0;
  }
  .faq__item:nth-child(2) {
    padding: 0 0 47px 0;
  }
}
.faq__hidden {
  overflow: hidden;
}
.faq__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
@media screen and (min-width: 1300px) {
  .faq__list {
    gap: 84px;
  }
}

.feedback {
  padding-bottom: 72px;
}
@media screen and (min-width: 1300px) {
  .feedback {
    padding-bottom: 170px;
  }
}
@media screen and (min-width: 708px) {
  .feedback {
    padding-bottom: 100px;
  }
}
.feedback__box {
  display: block;
  margin-top: 16px;
}
@media screen and (min-width: 708px) {
  .feedback__box {
    display: block;
    margin-top: 100px;
  }
}
@media screen and (min-width: 1300px) {
  .feedback__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 170px;
    gap: 150px;
  }
}
.feedback__item:first-child {
  width: 281px;
}
@media screen and (min-width: 708px) {
  .feedback__item:first-child {
    width: 445px;
  }
}
@media screen and (min-width: 1300px) {
  .feedback__item:first-child {
    width: 400px;
  }
}
.feedback__title {
  color: #E7E7E7;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-top: 16px;
}
@media screen and (min-width: 1300px) {
  .feedback__title {
    font-size: 54px;
    letter-spacing: 1.08px;
  }
}
@media screen and (min-width: 708px) {
  .feedback__title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }
}
.feedback__textar {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-bottom: 40px;
  margin-top: 32px;
}
@media screen and (min-width: 1300px) {
  .feedback__textar {
    font-size: 28px;
    font-weight: 600;
  }
}
@media screen and (min-width: 708px) {
  .feedback__textar {
    font-size: 20px;
    font-weight: 600;
  }
}
.feedback__input {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 16px;
  margin-bottom: 32px;
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .feedback__input {
    font-size: 20px;
    line-height: 70%;
  }
}
.feedback__texter {
  color: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 60px;
  margin-bottom: 40px;
  width: 100%;
}
@media screen and (min-width: 1300px) {
  .feedback__texter {
    font-size: 20px;
    line-height: 70%;
  }
}
.feedback__checkbox {
  width: 30px;
  height: 28px;
  margin-right: 24px;
}
@media screen and (min-width: 1300px) {
  .feedback__checkbox {
    height: 27.9px;
  }
}
.feedback__label {
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 1300px) {
  .feedback__label {
    font-size: 16px;
    line-height: 160%;
  }
}
.feedback__link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  margin-left: 9px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
@media screen and (min-width: 1300px) {
  .feedback__link {
    font-size: 16px;
    line-height: 160%;
  }
}
.feedback__button {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  padding: 20px 120px;
  background-color: transparent;
  border: 1px solid #DF3D3A;
}
@media screen and (min-width: 1300px) {
  .feedback__button {
    font-size: 20px;
    letter-spacing: 0.4px;
    padding: 22px 229px;
  }
}
@media screen and (min-width: 708px) {
  .feedback__button {
    padding: 20px 126px;
  }
}
.feedback__img {
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 708px) {
  .feedback__img {
    height: 360px;
  }
}
@media screen and (min-width: 1300px) {
  .feedback__img {
    height: 524px;
  }
}

.footer {
  padding: 0 0 52px 0;
}
@media screen and (min-width: 708px) {
  .footer {
    padding: 0 0 50px 0;
  }
}
@media screen and (min-width: 1300px) {
  .footer {
    padding: 0 0 74px 0;
  }
}
.footer > .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 708px) {
  .footer > .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
}
.footer__link {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 1300px) {
  .footer__link {
    font-size: 16px;
  }
}
.footer__contact {
  color: rgba(255, 255, 255, 0.8);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}
@media screen and (min-width: 708px) {
  .footer__list {
    justify-content: stretch;
    gap: 139px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1300px) {
  .footer__list {
    gap: 50px;
  }
}
.footer__lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
}
@media screen and (min-width: 1300px) {
  .footer__lists {
    flex-direction: row;
    gap: 50px;
  }
}
.footer__lister {
  align-items: end;
}
@media screen and (min-width: 708px) {
  .footer__lister {
    align-items: start;
  }
}

.menu {
  padding: 30px 20px 0 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #191919;
  opacity: 1;
  box-shadow: 0 20px 80px 0 #000;
}
@media screen and (min-width: 708px) {
  .menu {
    padding: 49px 60px 100px 60px;
    height: 387px;
  }
}
.menu__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
.menu__text {
  width: 98px;
  height: 12px;
  fill: #E7E7E7;
}
.menu__btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.menu__icon {
  width: 18px;
  height: 18px;
  fill: rgba(255, 255, 255, 0.8);
}
.menu__link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 708px) {
  .menu__link {
    font-size: 16px;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}/*# sourceMappingURL=main.css.map */